<form [formGroup]="documentForm" name="documentForm">
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentTitle">
      {{ 'document.add.title' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative" [ngClass]="isValidClassRequired(documentForm.controls.documentTitle)">
      <input class="form-control" formControlName="documentTitle" id="documentTitle" name="documentTitle" type="text" />
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.documentTitle)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentNumber">
      {{ 'document.add.number' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative"
      [ngClass]="[isValidClassRequired(documentForm.controls.documentNumber), isValidClassNumber(documentForm.controls.documentNumber)]">
          <input class="form-control" formControlName="documentNumber" id="documentNumber" name="documentNumber" type="number" min="1" />
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.documentNumber)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
    <div *ngIf="isValidClassNumber(documentForm.controls.documentNumber)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'validation.format.numberFormatInvalid' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentInitializer">
      {{ 'document.add.initiator' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative" [ngClass]="isValidClassRequired(documentForm.controls.documentInitializer)">
      <input class="form-control" formControlName="documentInitializer" id="documentInitializer" name="documentInitializer" />
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.documentInitializer)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="documentType">
      {{ 'document.add.type.name' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative" [ngClass]="isValidClassRequired(documentForm.controls.documentType)">
      <select class="form-control" formControlName="documentType" id="documentType" name="documentType">
        <option *ngFor="let type of documentTypeKeys()" [value]="type">
          {{ 'document.add.type.' + type | translate }}
        </option>
      </select>
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.documentType)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="dateOfDevelopment">
      {{ 'document.add.release' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative" [ngClass]="isValidClassRequired(documentForm.controls.dateOfDevelopment)">
      <input [bsConfig]="{ isAnimated: true, adaptivePosition: true, containerClass: 'theme-default' }"
             bsDatepicker
             class="form-control"
             formControlName="dateOfDevelopment"
             id="dateOfDevelopment"
             name="dateOfDevelopment"
             type="text">
      <div class="input-group-prepend input-icon">
          <span class="input-group-text">
            <i class="ni ni-calendar-grid-58"></i>
          </span>
      </div>
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.dateOfDevelopment)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label" for="dateOfReceipt">
      {{ 'document.add.receiving' | translate }}
    </label>
    <div class="col-md-10 input-group input-group-alternative" [ngClass]="isValidClassRequired(documentForm.controls.dateOfReceipt)">
      <input [bsConfig]="{ isAnimated: true, adaptivePosition: true, containerClass: 'theme-default' }"
             bsDatepicker
             class="form-control"
             formControlName="dateOfReceipt"
             id="dateOfReceipt"
             name="dateOfReceipt"
             type="text">
      <div class="input-group-prepend input-icon">
          <span class="input-group-text">
            <i class="ni ni-calendar-grid-58"></i>
          </span>
      </div>
    </div>
    <div *ngIf="isValidClassRequired(documentForm.controls.dateOfReceipt)" class="col-md-10 offset-md-2">
      <p class="mb-0 mt-1 text-danger">{{ 'required' | translate }}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-2 col-form-label form-control-label">{{ 'document.add.file' | translate }}</label>
    <div class="col-md-8 custom-file">
      <ec-file-uploader [url]="url"></ec-file-uploader>
    </div>
  </div>
  <div class="row justify-content-end">
    <a [routerLink]="" role="button" (click)="onSave()" class="btn btn-success mt-4" type="button"
      [ngClass]="!documentForm.valid ? 'disabled': ''">
      {{ 'button.save' | translate }}
    </a>
  </div>
</form>
